<div class="barra-titulo">
  Contactenos
</div>
<div class="breadcrumbs">
  Home/contactenos
</div>
<div class="cont-contact ">
  <div class="contact-section">
      <legend class="tit-contact">Via correo electrónico</legend>
        <form class="well form-horizontal" action=" " method="post"  id="contact_form">
        <fieldset>
    
    <!-- Text input-->

    <div class="form-group">
      <label class="col-md-8 control-label">Nombre</label>
      <div class="col-md-8 inputGroupContainer">
      <div class="input-group">
      <span class="input-group-addon"><img class="glyphicon glyphicon-user" src="images/user.png" /></span>
      <input  name="first_name" placeholder="First Name" class="form-control"  type="text">
        </div>
      </div>
    </div>

    <!-- Text input-->

    <div class="form-group">
      <label class="col-md-8 control-label" >Apellido</label>
        <div class="col-md-8 inputGroupContainer">
        <div class="input-group">
      <span class="input-group-addon"><img class="glyphicon glyphicon-user" src="images/user.png" /></span>
      <input name="last_name" placeholder="Last Name" class="form-control"  type="text">
        </div>
      </div>
    </div>

    <!-- Text input-->
           <div class="form-group">
      <label class="col-md-8 control-label">E-Mail</label>
        <div class="col-md-8 inputGroupContainer">
        <div class="input-group">
            <span class="input-group-addon"><img class="glyphicon glyphicon-user" src="images/email.png" /></span>
      <input name="email" placeholder="E-Mail Address" class="form-control"  type="text">
        </div>
      </div>
    </div>


    <!-- Text input-->

    <div class="form-group">
      <label class="col-md-8 control-label">Telefono</label>
        <div class="col-md-8 inputGroupContainer">
        <div class="input-group">
            <span class="input-group-addon"><img class="glyphicon glyphicon-user" src="images/phone.png" /></span>
      <input name="phone" placeholder="(845)555-1212" class="form-control" type="text">
        </div>
      </div>
    </div>

    <!-- Text input-->

    <div class="form-group">
      <label class="col-md-8 control-label">Ciudad</label>
        <div class="col-md-8 inputGroupContainer">
        <div class="input-group">
            <span class="input-group-addon"><img class="glyphicon glyphicon-user" src="images/home.png" /></span>
      <input name="city" placeholder="city" class="form-control"  type="text">
        </div>
      </div>
    </div>

    <!-- Text area -->

    <div class="form-group">
      <label class="col-md-8 control-label">Mensaje</label>
        <div class="col-md-8 inputGroupContainer">
        <div class="input-group">
            <span class="input-group-addon"><img class="glyphicon glyphicon-user" src="images/message.png" /></span>
            	<textarea class="form-control" name="comment" placeholder="Project Description"></textarea>
      </div>
      </div>
    </div>


    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label"></label>
      <div class="col-md-4">
        <button type="submit" class="btn btn-warning" >Send <span class="glyphicon glyphicon-send"></span></button>
      </div>
    </div>

    </fieldset>
    </form>
    </div>
    <div class = "contact-section">
      <legend class="tit-contact">En el mapa</legend>
      <div class="map">
        <iframe src="https://www.google.com/maps/d/embed?mid=1UQgHgWPOWyUI8yDOSRphAUlPwNo" width="540" height="480"></iframe>
      </div>
  </div>
    <div class="clear"></div>
</div>
