<div class="barra-titulo">
  Producto X
</div>
<div class="breadcrumbs">
  Home/Productos/productoX
</div>

<div class="cont-product col-md-12">
  <div class="info-prod col-md-10">
    <div class="col-md-12">
      <div class="img-prod col-md-6">
        <img src="images/producto1.jpg" alt="producto1" />
      </div> 
      <div class="datos-prod col-md-6">
        <div class="txt-producto">
            <span class="precio-home"> $95.000 </span>
            <br>
            <p> LOREM IPSUM LOREM IPSUM Lorem IPSUM </p>
          </div>
          <div class="clear"> </div>
      </div> 
      <div class="clear"> </div>
    </div>
    <div class="col-md-12">
      <div class="barra-titulo barra-verde">
        Información adicional
      </div>
      <div class="comentarios-prod">
      </div>
      <div class="barra-titulo barra-roja">
        Productos relacionados
      </div>
      <div class="cont-productos prod-recientes">
        <div class="caja-producto">
          <div class="img-producto">
            <img src="images/producto2.jpg" />
          </div>
          <div class="txt-producto">
            <h2> Titulo </h2>
            <p> LOREM IPSUM LOREM IPSUM Lorem IPSUM </p>
            <br>
            <span class="precio-home"> $95.000 </span>
          </div>
          <a class="link-añadir" href="#">
            <div class="btn-añadir">
            añadir al carro
            </div>
          </a>
        </div>
        <div class="caja-producto">
          <div class="img-producto">
            <img src="images/producto3.jpg" />
          </div>
          <div class="txt-producto">
            <h2> Titulo </h2>
            <p> LOREM IPSUM LOREM IPSUM Lorem IPSUM </p>
            <br>
            <span class="precio-home"> $95.000 </span>
          </div>
          <a class="link-añadir" href="#">
            <div class="btn-añadir">
            añadir al carro
            </div>
          </a>
        </div>
        <div class="caja-producto">
          <div class="img-producto">
            <img src="images/producto4.jpg" />
          </div>
          <div class="txt-producto">
            <h2> Titulo </h2>
            <p> LOREM IPSUM LOREM IPSUM Lorem IPSUM </p>
            <br>
            <span class="precio-home"> $95.000 </span>
          </div>
          <a class="link-añadir" href="#">
            <div class="btn-añadir">
            añadir al carro
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="lateral-prod col-md-2">
     productos recientes
  </div>
  <div class="clear"></div>
</div>