<div *ngIf="(authTokenService.currentUserData)" class="col l8 s12" >
  <div class="banner-users">
  <div class="tit-banner-company">
    Mis publicaciones
  </div>
</div>
<div class="breadcrumbs">
  Home / Usuarios / {{authTokenService.currentUserData.name_user}}
</div>
<div class="col-md-5">
  <app-menu-profile> </app-menu-profile>
</div>
<div class="col-md-7">
	<div class="container">
		<div class="col-12 contenedor-publicaciones">
			<div class="titulo-profile">Mis publicaciones</div>

			<div class=" col-12">
				<div class="contenedor-publicacion" *ngFor="let publication of publications | paginate: { itemsPerPage: 3, currentPage: p }">

					<div class="img-publicacion col-md-3">
						<a class="link-añadir" (click)="goToPublication(publication)">
						<img *ngIf="(publication.image_publication?.url != null)" class="img-responsive img-center img img-prod-profile" src="{{publication.image_publication?.url}}" alt="{{publication.title}}">
        		<img *ngIf="(publication.image_publication?.url == null)" class="img-responsive img-center img img-prod-profile" src="images/interrogacion.png" alt="{{publication.title}}">
						</a>
					</div>
					<div class="detalles-publicacion col-md-9">
						<div class="descripcion">
							<a class="link-añadir" (click)="goToPublication(publication)">
							<strong>{{publication.title}}</strong>
							</a>
							<br><br>
							{{publication.body_publication}}
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="info-no perro" *ngIf="(publications == Null)">
					<div class="nota">
						<strong> ¡Aún no has creado ninguna publicación! </strong>
					</div>
				</div>
					<!--</div>-->
			</div>
		</div>


	<div class="pagination"><pagination-controls (pageChange)="p = $event" class="pagination"></pagination-controls></div>

</div>